<p style="color: green"><%= notice %></p>

<%= render @instituicao %>

<div>
  <%= link_to "Edit this instituicao", edit_instituicao_path(@instituicao) %> |
  <%= link_to "Back to instituicaos", instituicaos_path %>

  <%= button_to "Destroy this instituicao", @instituicao, method: :delete %>
</div>
